
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<br />
<br />
<b class="text-center"> Register: </b>
<form class="table-bordered" action="RegisterNavijac" method="POST">
    <div class="text-center">
        <br />
        <br />

        <div class="control-group">
            <!-- Username -->
            <label for="username" class="center-block">Username:</label>
            <div>
                <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label for="email">E-mail:</label>
            <div>
                <input type="email" id="email" name="email" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label for="password">Password:</label>
            <div>
                <input type="text" id="password" name="password" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div>
            <!-- Button -->
            <div>
                <input type="submit" class="btn btn-success" value = "Register">
            </div>
        </div>
    </div>
</form>